textarea.funding-yaml-container,
.funding-examples-all-container {
  font-family: monospace;
  font-size: 14px;
  line-height: 22px;
  padding: 0 16px;
  background-image: linear-gradient(90deg, #eee 1px, rgb(250, 250, 250) 1px, rgb(250, 250, 250) 50%, #eee 50%, #eee calc(50% + 1px), rgb(250, 250, 250) calc(50% + 1px), rgb(250, 250, 250) 100%);
  background-size: 33.50px 33.50px;
}

textarea.funding-yaml-container {
  color: black;
}
.funding-examples-all-container {
  color: #555;
}

.funding-example {
  display: block;
  white-space: pre;
  border-top: 2px solid white;
}
.funding-example span {
  background: rgba(250, 250, 250, 0.7);
}

.funding-examples-gallery td {
  vertical-align: top;
}
